.loginForm {
  padding: 10px 10px 0;
}
.divider {
  margin: 20px 0 10px;
  text-align: center;
  width: 100%;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 30%;
    height: 1px;
    background-color: #ccc;
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 30%;
    height: 1px;
    background-color: #ccc;
  }
}